<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIET</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>LOGIN</h1>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <button type="submit" class="loginbtn">SIGN IN</button>
    </body>
    </html>
    <div class="container signin">
        <p>Create an account?<a href="./register">Sign up</a>.</p>
    </div>
</body>
</html>