body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
a{
    color: #f4f4f4;
    width: 200px;
    height: 25px;
}
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    background-color:#3a1a81;
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
img{
    height: 30px;
    width: 30px;
    position:absolute;
    top: 22px;
    left:20px;
}
h3 { 
    position: relative; 
   left: 40px;
}
.container{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#f4f4f4;
}
.header{
    padding: 20px;
    height: 462px;;
    width: 200px;
    background-color: #4a2aa1;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-decoration: none;
} 
.profile button {
    width: 100px;
    color: #f4f4f4;    
    font-size: 12pt;    
    position:absolute;
    top: 18px;;
    right: 20px;
    background-color: #4a2aa1;
   color: #ffffff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
}
button:hover{
    background-color: #3a1a81;
}