<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackHat</title>
    <link rel="stylesheet" href="./freelancer.css">
</head>
<body>
<div class="container">
    <div class="index">
        <img src="./images/logo.jpg">
        <h3>BlackHat</h3>
    </div>
    <div class="profile">
        <button><a>Logout</a></button>
    </div>
</div>
<div class="header">
    <a href="#">Jobs</a>
    <a href="#">Active Jobs</a>
    <a href="#">Previos Jobs</a>
</div> 
</body>
</html>