<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="./images/logo.jpg" alt="Logo">
        <span>BlackHat</span>
    </div>
    <div class="nav">
        <a href="#">Pricing</a>
        <a href="#">Become a writer</a>
    </div>
    <div>
        <a href="./signin.html" class="button">Sign In</a>
        <a href="./signup.html" class="button">Get started for free →</a>
    </div>
</div>
<div class="header">
    <h1>Need your assignments done? Get it done.</h1>
    <p>Start contacting a freelancer at the best price.</p>
    <div class="user">
        <a href="#" class="button">Get it done today! →</a>
    </div>
</div>
<div class="bgimg">
    <div class="content">
        <h2>BlackHat: Your assignment writer.</h2>
        <p>Get quality assignments done quickly and efficiently.</p>
    </div>
</div>
</body>
</html>